<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="robots" content="noindex, nofollow"/>
<title>Main Page Template</title>

<!-- Remy Sharp Shim --> 
<!--[if lt IE 9]>
<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script> 
<![endif]-->

<link href="styles.css" rel="stylesheet" />
<style type="text/css">
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="sweet-lo-jscript.js"></script>

</head>

<body id="my_icecream">

<div id="wrapper">
<header>

<nav id="nav-main">		<!--  This is the main nav, nav-main.php  -->
	<ul>
    	<li><a href="index.html" class="home-link">About</a></li>
        <li><a href="my_icecream.html" class="my_icecream-link">My Ice Cream</a>
        	<ul class="fallback">
            	<li><a href="javascript:;" target="_blank">The Goods</a>
                <li><a href="javascript:;" target="_blank">Dietary Options</a>
                <li><a href="javascript:;" target="_blank">For Kids</a>
            </ul>
        </li>
        <li class="order-link"><a href="javascript:;" target="_blank">Order</a></li>
        <li><a href="javascript:;" target="_blank">Events</a></li> 
        <li><a href="javascript:;" target="_blank">Find Me!</a></li> 
        <li class="social-icons"><a href="javascript:;" target="_blank"><img src="images/social_icons.png" alt="social media icons" /></a>
        </li>                         
    </ul>    
<div>
	<h1 class="logo"><img src="images/logo_trans_background_brown.png" /></h1>
</div>
</nav>		<!--Close nav-main-->

<h1>
<a href="javascript:;">
<span>Sweet Lo's Handmade Ice Cream</span></a>	<!--for SEO-->
</h1>


</header>		<!--Close header-->

<div id="middle">			<!--Page-specific content goes here-->

<nav id="nav-mobile">			<!--Responsive, for mobile screens-->
    <a class="mobile-social-icons" href="javascript:;" target="_blank"><img src="images/social_icons.png" /></a><a class="menu-button">&#9776;  MENU</a>
    <ul id="nav-toggle">
    	<li><a href="javascript:;" target="_blank">About</a></li>
        <li><a href="javascript:;" target="_blank">My Ice Cream</a>
        	<ul class="fallback">
            	<li><a href="javascript:;" target="_blank">The Goods</a>
                <li><a href="javascript:;" target="_blank">Dietary Options</a>
                <li><a href="javascript:;" target="_blank">For Kids</a>
            </ul>
        </li>
        <li><a href="javascript:;" target="_blank">Order</a></li>
        <li><a href="javascript:;" target="_blank">Events</a></li> 
        <li><a href="javascript:;" target="_blank">Find Me!</a></li>                      
    </ul>
</nav>

<div id="tagline">
	<h1>Sweet Lo's Handmade Ice Cream</h1>
    <h4>"What you always wanted your ice cream to taste like"</h4>
</div>

<section>
	<div class="one-third left-div">
		<img src="images/icecream_social_300-200.jpg" alt="ice cream social 300x200" class="img-1-left" />
        <h3>Stock h3 Text</h3>
        <p>Chunky almond coffee pecan peppermint apple cone cone chocolate cone sundae. Butterscotch, cherry ice shortcake peanut butter popsicle.</p>
	</div>       
	<div class="one-third right-div">
		<img src="images/icecream_social_300-200.jpg" alt="ice cream social 300x200" class="img-1-right" />
        <h3>Stock h3 Text</h3>
        <p>Chunky almond coffee pecan peppermint apple cone cone chocolate cone sundae. Butterscotch, cherry ice shortcake peanut butter popsicle.</p>        
	</div>   
	<div class="one-third middle-div">
		<img src="images/icecream_cart_300-350.jpg" alt="ice cream cart 300x350" class="img-1-middle" />
	</div>    
    
</section>

<section>
	<div class="one-fourth left-div">
		<img src="images/icecream_card_220.jpg" alt="ice cream card 220x220" />
	</div>
	<div class="one-fourth middle-div">
		<img src="images/icecream_card_220.jpg" alt="ice cream card 220x220" />
	</div>   
	<div class="one-fourth middle-div">
		<img src="images/icecream_card_220.jpg" alt="ice cream card 220x220" />
	</div>       
	<div class="one-fourth right-div">
		<img src="images/icecream_card_220.jpg" alt="ice cream card 220x220" />
	</div>
</section>

</div>	<!--Close middle-->

<footer>
	<div id="sitemap">
    	<ul>
        	<li>About</li>
            <li>My Ice Cream
            	<ul>
                	<li>The Goods</li>
                    <li>Dietary Options</li>
                    <li>For Kids</li>
                </ul>
            </li>
            <li>Order</li>
            <li>Events</li>
            <li>Find Me!</li>
            <li class="social-icons-ftr"><img src="images/social_icons.png" alt="social media icons" /></a></li>   
        </ul>
    </div>
    
   <div id="map_canvas"></div>
    
	<p class="credits">Site Contents &copy; Sweet Lo's Ice Cream &bull; Site Design by Houndstooth Ind.</p>

</footer>

</div>	<!--Close wrapper-->

</body>
</html>
