@charset "utf-8";
/* CSS Document */


/* RESETS */

body, body * {
	margin:0;
	padding:0;
	box-sizing: border-box;	/* declared width = rendered width */	
}

a image {
	border:0;
}

/* END RESETS */


/* RESPONSIVE */

/* will not validate --------- */
html { 
	/* don't resize body copy on iPhone */
	-webkit-text-size-adjust: none;  
}

@-ms-viewport,		/* IE10; DOES NOT VALIDATE */
@viewport	{		/* future browsers */
    width: extend-to-zoom;
    zoom: 1.0;
}
/* --------- end will not validate */
/* END RESPONSIVE */

/* FOR DEVO ONLY */

/*body {		
	background-image:url(images/sweetlosicecream_grid_960.png);
	background-position:50%;
	background-repeat:repeat-y;	
}*/

/* TEXT STYLES */

html{
	font-size:100%;		/* 1 em/rem = 16px */
	box-sizing:border-box;		
}

body {
	font-size: 100%;		/* percentage of size set on html tag */
	font-family:Rockwell, Tahoma, sans-serif;	
}

h2 {
	font-family:Rockwell, Tahoma, sans-serif;
	font-weight:bold;
	font-size:1.5em;
	line-height:100%;	
	text-align:center;	
	color:#E87357;		
}

h3 {
	font-family:Rockwell, Tahoma, sans-serif;
	font-weight:bold;
	font-size:1.125em;
	line-height:100%;	
	text-align:center;	
	color:#E87357;		
}

#tagline h1 {
	font-size:1.5em;
	line-height:100%;
	text-align:center;
	color:#E87357;			
}

#tagline h4 {
	font-size:1em;
	text-align:center;
	color:#E87357;			
}

p {
	font-size:1em;
	line-height:150%;
	color:4C340D;
	display:block;
	text-align:center;	
}

ul {
	font-size:1em;
	line-height:150%;	
}

/* END TEXT STYLES */


/* LAYOUT STYLES */

body {
	background-color:#F5F5DE;	
}

#wrapper {
	max-width:960px;
	width:100%;	
	margin: 0 auto;			/* Centers the wrapper on page. Don't use margin-left/right. */
	border:2px solid #959595;
	background-color:#F5F3EA;
	
}

header {					
	max-width:940px;				/*100% of wrapper*/
	width:100%;
	min-height:31.25em;
	margin:.75em auto;	
	overflow:hidden;
}

#middle {
	max-width:940px;
	margin:.75em auto;	
	overflow:hidden;		
}

header h1 span {
	display:none;
}

.logo {
	position:absolute;
	background-color:#F5F3EA;
	border:1px solid #959595;
	margin-top:.625em;
	top:-50px;
	left:40%;	
}

h2, h3, h4 {
	margin-top:.25em;
	margin-bottom:.25em;
}

#tagline {
	width:50%;
	margin:2em auto;
	border:thick solid #54D2D8;	
}

#nav-main {
	margin-bottom:.75em;		
}

section {
	clear:both;
	margin-bottom:2em;
	overflow:hidden;	
}

.left-div {
	float:left;
	margin-left:0;
	margin-right:1.25em;	
}

.middle-div {
	float:left;
	margin-left:0;
	margin-right:1.25em;	
}

.right-div {
	float:right;
	margin-right:0;	
}

.one-third {
	width:31.91489361702128%;		/* 300/940 */
}

.one-fourth {
	width:23.40425531914894%;	
}

p {
	margin-bottom:.75em;
}

footer {
	background:#5F4201;
	max-width:940px;
	width:auto;	
	margin:.75em auto;	
	overflow:hidden;	
}

/* END LAYOUT STYLES */


/* IMAGE STYLES */

header {
	background-image:url(images/header_hero_940-500.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment:scroll;
	background-position:center;
	height:auto;
}
	
img,
embed,
object,
video,
iframe,
.wp-caption {			
	max-width:100%;	
	height:auto;	
}

/* END IMAGE STYLES */


/* LINK STYLES */

a:link,
a:visited {
	color:#FFFFFF;
	text-decoration:none;	
}

a:hover,
a:focus {
	color:#5F4201;
	text-decoration:underline;
	background:#E6E6E6;	
}

.top-link {						/*back-to-top link; lives in footer.php*/
	clear:left;
	float:right;
}

#home a.home-link,
#my_icecream a.my_icecream-link {
	color:#5F4201;			
	background-color:#E6E6E6;			
}

/* END LINK STYLES */

/* NAV-MAIN */

#nav-main {
	height:3em;
	background-color:#5F4201;	
	width:100%;
	position:relative;
	margin-top:2.5em;
}

#nav-main ul {
	margin:0;
	text-align:center;	
}

#nav-main li {				
	float:left;
	width:12.5%;	
	font-size:0.9em;
	line-height:3em;	
	text-align:center;		
	list-style-type:none;
	margin:0;	
}

#nav-main a {
	display:block;				
	text-transform:uppercase;
}

#nav-main .order-link {
	margin-right:15em;	
}

#nav-main .social-icons {
	font-size:0.75em;
	margin-top:.75em;	
}

/*Dropdown*/

#nav-main ul li ul {
	position:absolute;
	width:150px;
	background:#5F4201;	
}

#nav-main ul li ul li {
	width:150px;
	margin:0;	
}

#nav-main ul li ul li a {
	display:block;
	width:100%;
	text-align:left;
	font-size:1em;
	line-height:2em;
	padding:15px 10px;	
	margin:0;		
}

#nav-main ul li ul.fallback {
	display:none;
}

#nav-main ul li:hover ul.fallback {
	display:block;	
}

/*End Dropdown*/


/* END NAV-MAIN */


/* RESPONSIVE TOGGLE NAV (MOBILE) - MENU */

#nav-mobile {
	min-height:3em;
	line-height:3em;
	background-color:#5F4201;
	color: #fff;
}

#nav-mobile a {
	padding:0 .75em;	
}

#nav-mobile ul {
	display: none;
	list-style: none;
	margin: 0;
	padding: 0;
}
#nav-mobile ul.expanded {
    display: block;
}

#nav-mobile li a:link,
#nav-mobile li a:visited {
	display: block;
	padding: 0.6250rem; 	
	border-top: 1px solid #666;
	color: #ddd;
	text-decoration: none;
}

#nav-mobile a:hover,
#nav-mobile a:focus {
	
	color:#5F4201;
	text-decoration:underline;		
}

#nav-mobile li a:hover,
#nav-mobile li a:focus {
	color:#5F4201;
	text-decoration:underline;	
}

.menu-button {
	display: block;
	text-align: right;
	color: #ddd;
	text-decoration: none;
}

.menu-button:hover,
.menu-button:focus {
	color: #fff;
	text-decoration: none;
}


/*END TOGGLE NAV (MOBILE)*/


/* END NAVIGATION */


/*  FOOTER  */



#sitemap {
	height:auto;
	width:50%;	
}

#sitemap ul {
	margin:.75em auto;
	padding:0;	
}

#sitemap li {				/* This and the previous declaration will give the nav-main container an adequate height */
	float:left;
	width:20%;	
	font-size:0.8em;			
	text-align:center;
	color:#FFFFFF;	
	text-transform:uppercase;	
	list-style-type:none;	/*gets rid of the underlines so we can use them on hover state*/
	margin-bottom:0;
}

#sitemap ul li ul li {
	width:100%;	
	font-size:0.6em;
	line-height:3em;
	text-align:left;	
}

      #map_canvas {
		float:right; 
		margin:.75em .75em; 
        width: 25%;
        height: 14.6875em;
		border:2px solid #959595;
      }

.credits {
	font-size:0.7em;
	color:#FFFFFF;	
	text-align:center;
	clear:both;	
}

/*	END FOOTER  */


/*MEDIA QUERIES*/


@media all AND (min-width: 600px){

	#nav-main {
		display:block;	
	}
	
	#nav-mobile {
		display:none;	
	}

	.social-icons-ftr {
		display:none;	
	}
	
}

@media all AND (max-width: 600px){


	#nav-mobile {
		display:block;
	}
	
	.mobile-social-icons {
		float:left;
		margin-top:0.5em;	
	}
	
	#nav-main {
		display:none;
	}

	#wrapper {
		max-width:600px;
		width:100%;	
	}

	header {
		max-width:560px;
		width:93.33333333333333%;
		min-height:3em;	
		height:24em;
	}

	#nav-main {
		max-width:600px;
		width:100%;	
	}
	
	#middle {
		max-width:600px;
		width:93.33333333333333%;	
	}

	.one-third {
		max-width:260px;
		width:48.21428571428571%;	
	}
	
	.left-div {
		margin:0;	
	}
	
	.middle-div {
		float:right;
		margin:0;	
	}

	.img-1-left {
		display:none;	
	}

	.right-div {
		display:none;	
	}

	footer {
		max-width:560px;
		width:93.33333333333333%;
	}
	
	#map_canvas {
		display:none;	
	}
	
	#sitemap {
		width:100%;
		float:left;	
		font-size:.8em;
		margin-bottom:1.5em;
	}
	
	#sitemap li {
		width:16%;	
	}
	
	.social-icons-ftr {
		float:right;
		width:10%;
		font-size:.5em;	
	}	

}

/*@media all AND (max-width: 500px){

	.one-third {
		width:100%;
	}
	
	.two-thirds {
		width:100%;
	}
	
	.one-half {
		width:100%;
	}

	#nav-footer li {
		width:100%;
	}

}*/
	
	/*END MEDIA QUERIES*/	